body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.swipe-container-parent .swipe-container {
  transition: background-image 0.8s ease-out;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.ceoHero {
  background-image: url(./images/ceo.svg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

@media (max-width: 768px) {
  .ceoHero {
    background-image: url(./images/mobHero.svg);
    background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  }
}
.mobHero{
  background-image: url(./images/mobHero.svg);
}
.succ {
  background-image: url(./images/succ.svg);
}
.mobAbout{
  background-image: url(./images/mobAbout.svg);
}
.bizone{
  background-image: url(./images/bizone.svg);
}
.bizertwo{
  background-image: url(./images/biztwo.svg);
}

.biztwo {
  background-image: url(./images/bizhero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

@media (max-width: 768px) {
  .biztwo {
    background-image: url(./images/bizheromob.svg);
    background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  }
}
.bizthree{
  background-image: url(./images/bizthree.svg);
}
.bizfour{
  background-image: url(./images/bizfour.svg);
}
.bizfive{
  background-image: url(./images/bizfive.svg);
}
.bizsix{
  background-image: url(./images/bizsix.svg);
}
.bizseven{
  background-image: url(./images/bizseven.svg);
}
.servi{
  background-image: url(./images/servi.svg);
}

.conHero {
  background-image: url(./images/contHero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

@media (max-width: 768px) {
  .conHero {
    background-image: url(./images/contHeroMob.svg);
    background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  }
}

.carHero {
  background-image: url(./images/careerHero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carHero {
    background-image: url(./images/contHeroMob.svg);
    background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  }
}